/* custom styles */
html {
    font-size: 1rem; /* or 62.5% or whatever you like, it doesn't matter, it's just a browser fix, however "rem" units will be based on that value, so make it confortable for calculations */
}

.col label{
    width:60%;
display: table-cell;
font-size: 1rem;
}
.col input{
    width:70%;
    font-size: 0.8rem;
}

.formm{
    width:15em;
    height:inherit;
}

.row{
    width:100%;
    display:flex;
}
#result{
    width:100%;
    max-height: 28vh;
    max-width: 90vw;
    display:flex;
    overflow-y: scroll;
}

.table
{
    display:  table;
    width:auto;
    background-color:#eee;
    border:1px solid  #666666;
    border-spacing:5px;/*cellspacing:poor IE support for  this*/
   /* border-collapse:separate;*/
}

.row
{
   display:table-row;
   width:auto;
}

.cell
{
    float:left;/*fix for  buggy browsers*/
    display:table-column;
    min-width:4em;
    min-height:20px;
    /*border:1px solid black;*/
    text-align: center;
}
.cell.thin
{
    min-width:1em;
}
#inputandcat{
display:inline-flex;
/*max-height:20vh;*/
height:16rem;
}
#cat{
  display: block;
  width: auto;
max-height: 100%;
}
#catparent{
  display: block;
  width: auto;
  height: auto;
}
}
#cat:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  height:100%;
}

#cat:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  height:100%;
}
body {
max-height:100vh;
zoom:2
}

}*/
