/* custom styles */
html {
    font-size: 1rem; /* or 62.5% or whatever you like, it doesn't matter, it's just a browser fix, however "rem" units will be based on that value, so make it confortable for calculations */
}
h3{
    margin: 0.5rem 0rem 0rem 0rem;
    font-size: 1rem;
}
.first{
max-height:72vh
}
.col label{
    width:75%;
display: table-cell;
font-size: 0.9rem;
}
.col input{
    width:90%;
    font-size: 0.7rem;
}

.formm{
    width:15em;
    height:inherit;
}

.row{
    width:100%;
    display:flex;
}
.row:hover{
  background-color:rgba(33,33,33,.2);
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
#resulttext{
    width:100%;
    height: 10vh;
    border: 1px solid black;
    max-width: 90vw;
    display:flex;
    overflow-y: scroll;
}
#correctValues{
    width:100%;
    height: 13.5vh;
    border: 1px solid black;
    max-width: 90vw;
    overflow-y: scroll;
}

.table
{
    display:  table;
    width:auto;
    background-color:#eee;
    border:1px solid  #666666;
    border-spacing:5px;/*cellspacing:poor IE support for  this*/
   /* border-collapse:separate;*/
}

.row
{
   display:table-row;
   width:auto;
}
.equaltiontable .cell
{
    float:left;/*fix for  buggy browsers*/
    display:table-column;
    min-width:5.5em;
    min-height:20px;
    /*border:1px solid black;*/
    text-align: center;
}
.cell
{
    float:left;/*fix for  buggy browsers*/
    display:table-column;
    min-width:4em;
    min-height:20px;
    /*border:1px solid black;*/
    text-align: center;
}
.cell.thin
{
    min-width:1em;
}
#inputandcat{
display:inline-flex;
/*max-height:20vh;*/
height:18rem;
}
#cat{
  display: block;
  width: auto;
max-height: 100%;

}
#catparent{
  display: block;
  width: auto;
  height: auto;
}
}
#cat:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  height:100%;
}

#cat:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  height:100%;
}
#logstats{
    display:inline-flex;
}
#logstats div{
    display:inline-flex;
    margin: 0rem 0rem 0rem 0.5rem;
}
body {
max-height:100vh;
zoom:2
}

}*/
